<a href="https://colab.research.google.com/github/k4th4/Applied-Data-Science-with-Python-Specialization/blob/main/Pandas_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/sample_data/sample dataset office.csv')

In [72]:
df['Total'] = df['Total'].astype(str).str.replace(",", "").astype(float)
df_new=df.set_index('Rep').groupby(level=0)['Total'].agg(np.nansum)

In [73]:
df_new = pd.cut(df_new, 3, labels=["low", "medium", "high"])
df_new.head()

Rep
Andrews       low
Gill       medium
Howard        low
Jardine      high
Jones        high
Name: Total, dtype: category
Categories (3, object): ['low' < 'medium' < 'high']

In [75]:
rep_frame=df_new.to_frame()

In [81]:
rep_frame

           Total
Rep
Andrews      low
Gill      medium
Howard       low
Jardine     high
Jones       high
Kivell      high
Morgan    medium
Parent      high
Smith     medium
Sorvino      low
Thompson     low

In [78]:
df=df.merge(rep_frame, left_index=True, right_index=True)

In [79]:
df.head()

Empty DataFrame
Columns: [OrderDate, Region, Rep, Item, Units, UnitCost, Total_x, rep_rating, rep_cat, Total_y]
Index: []