<a href="https://colab.research.google.com/github/k4th4/Applied-Data-Science-with-Python-Specialization/blob/main/Pandas_DateFunctionality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [13]:
#TIMESTAMP
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [4]:
pd.Timestamp('30th November 2020')

Timestamp('2020-11-30 00:00:00')

In [3]:
pd.Timestamp(2020,11,30,21,29,00)

Timestamp('2020-11-30 21:29:00')

In [10]:
pd.Timestamp(2020,11,30,21,29,00).week

49

In [11]:
pd.Timestamp(2020,11,30,21,29,00).isoweekday()

1

In [12]:
#PERIOD

In [18]:
pd.Period(' November 2020')

Period('2020-11', 'M')

In [19]:
pd.Period(' November 2020')+4

Period('2021-03', 'M')

In [20]:
pd.Period(' 30 November 2020')+100

Period('2021-03-10', 'D')

In [21]:
#DatetimeIndex and PeriodIndex

In [25]:
t1 = pd.Series(list('abcd'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03'), pd.Period('2016-09')])

In [26]:
t1

2016-09-01 00:00:00    a
2016-09-02 00:00:00    b
2016-09-03 00:00:00    c
2016-09                d
dtype: object

In [28]:
#CONVERTING

In [31]:
index = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

In [33]:
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=index, 
                   columns=list('ab'))

In [34]:
ts3

               a   b
2 June 2013   17  53
Aug 29, 2014  69  67
2015-06-26    43  85
7/12/16       46  67

In [35]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  17  53
2014-08-29  69  67
2015-06-26  43  85
2016-07-12  46  67

In [36]:
df = pd.read_csv('/content/sample_data/sample dataset office.csv')

In [37]:
df.head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0   1/6/2020     East    Jones  Pencil     95      1.99  189.05
1  1/23/2020  Central   Kivell  Binder     50     19.99  999.50
2   2/9/2020  Central  Jardine  Pencil     36      4.99  179.64
3  2/26/2020  Central     Gill     Pen     27     19.99  539.73
4  3/15/2020     West  Sorvino  Pencil     56      2.99  167.44

In [38]:
df["OrderDate"] = pd.to_datetime(df["OrderDate"])

In [39]:
df.head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0 2020-01-06     East    Jones  Pencil     95      1.99  189.05
1 2020-01-23  Central   Kivell  Binder     50     19.99  999.50
2 2020-02-09  Central  Jardine  Pencil     36      4.99  179.64
3 2020-02-26  Central     Gill     Pen     27     19.99  539.73
4 2020-03-15     West  Sorvino  Pencil     56      2.99  167.44

In [41]:
#Timedelta

In [45]:
pd.Timestamp('11/30/2020 21:29')-pd.Timestamp('4/8/2021 12:38')

Timedelta('-129 days +08:51:00')

In [47]:
pd.Timestamp('11/30/2020 21:29') + pd.Timedelta('100D 12H')

Timestamp('2021-03-11 09:29:00')

In [48]:
#Offset // is like timedelta with calendar rules

In [55]:
pd.Timestamp('11/30/2020')+ pd.offsets.Week()

Timestamp('2020-12-14 00:00:00')

In [57]:
pd.Timestamp('11/29/2020')+ pd.offsets.MonthEnd()

Timestamp('2020-11-30 00:00:00')

In [58]:
####

In [59]:
df.head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0 2020-01-06     East    Jones  Pencil     95      1.99  189.05
1 2020-01-23  Central   Kivell  Binder     50     19.99  999.50
2 2020-02-09  Central  Jardine  Pencil     36      4.99  179.64
3 2020-02-26  Central     Gill     Pen     27     19.99  539.73
4 2020-03-15     West  Sorvino  Pencil     56      2.99  167.44

In [67]:
df=df.set_index("OrderDate")

In [68]:
df.diff()

TypeError: ignored