<a href="https://colab.research.google.com/github/k4th4/Applied-Data-Science-with-Python-Specialization/blob/main/Pandas_DateFunctionality.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd
import numpy as np

In [22]:
#TIMESTAMP
pd.Timestamp('9/1/2019 10:05AM')

Timestamp('2019-09-01 10:05:00')

In [23]:
pd.Timestamp('30th November 2020')

Timestamp('2020-11-30 00:00:00')

In [24]:
pd.Timestamp(2020,11,30,21,29,00)

Timestamp('2020-11-30 21:29:00')

In [25]:
pd.Timestamp(2020,11,30,21,29,00).week

49

In [26]:
pd.Timestamp(2020,11,30,21,29,00).isoweekday()

1

In [27]:
#PERIOD

In [28]:
pd.Period(' November 2020')

Period('2020-11', 'M')

In [29]:
pd.Period(' November 2020')+4

Period('2021-03', 'M')

In [30]:
pd.Period(' 30 November 2020')+100

Period('2021-03-10', 'D')

In [31]:
#DatetimeIndex and PeriodIndex

In [32]:
t1 = pd.Series(list('abcd'), [pd.Timestamp('2016-09-01'), pd.Timestamp('2016-09-02'), 
                             pd.Timestamp('2016-09-03'), pd.Period('2016-09')])

In [33]:
t1

2016-09-01 00:00:00    a
2016-09-02 00:00:00    b
2016-09-03 00:00:00    c
2016-09                d
dtype: object

In [34]:
#CONVERTING

In [35]:
index = ['2 June 2013', 'Aug 29, 2014', '2015-06-26', '7/12/16']

In [36]:
ts3 = pd.DataFrame(np.random.randint(10, 100, (4,2)), index=index, 
                   columns=list('ab'))

In [37]:
ts3

               a   b
2 June 2013   83  13
Aug 29, 2014  23  32
2015-06-26    17  18
7/12/16       18  25

In [38]:
ts3.index = pd.to_datetime(ts3.index)
ts3

             a   b
2013-06-02  83  13
2014-08-29  23  32
2015-06-26  17  18
2016-07-12  18  25

In [39]:
df = pd.read_csv('/content/sample_data/sample dataset office.csv')

In [40]:
df.head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0   1/6/2020     East    Jones  Pencil     95      1.99  189.05
1  1/23/2020  Central   Kivell  Binder     50     19.99  999.50
2   2/9/2020  Central  Jardine  Pencil     36      4.99  179.64
3  2/26/2020  Central     Gill     Pen     27     19.99  539.73
4  3/15/2020     West  Sorvino  Pencil     56      2.99  167.44

In [41]:
df["OrderDate"] = pd.to_datetime(df["OrderDate"])

In [42]:
df.head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0 2020-01-06     East    Jones  Pencil     95      1.99  189.05
1 2020-01-23  Central   Kivell  Binder     50     19.99  999.50
2 2020-02-09  Central  Jardine  Pencil     36      4.99  179.64
3 2020-02-26  Central     Gill     Pen     27     19.99  539.73
4 2020-03-15     West  Sorvino  Pencil     56      2.99  167.44

In [43]:
#Timedelta

In [44]:
pd.Timestamp('11/30/2020 21:29')-pd.Timestamp('4/8/2021 12:38')

Timedelta('-129 days +08:51:00')

In [45]:
pd.Timestamp('11/30/2020 21:29') + pd.Timedelta('100D 12H')

Timestamp('2021-03-11 09:29:00')

In [46]:
#Offset // is like timedelta with calendar rules

In [47]:
pd.Timestamp('11/30/2020')+ pd.offsets.Week()

Timestamp('2020-12-07 00:00:00')

In [48]:
pd.Timestamp('11/29/2020')+ pd.offsets.MonthEnd()

Timestamp('2020-11-30 00:00:00')

In [49]:
####

In [59]:
df['Total'] = df['Total'].astype(str).str.replace(",", "").astype(float)
#df=df.set_index("OrderDate")
df.head()

             Region      Rep    Item  Units  UnitCost   Total
OrderDate
2020-01-06     East    Jones  Pencil     95      1.99  189.05
2020-01-23  Central   Kivell  Binder     50     19.99  999.50
2020-02-09  Central  Jardine  Pencil     36      4.99  179.64
2020-02-26  Central     Gill     Pen     27     19.99  539.73
2020-03-15     West  Sorvino  Pencil     56      2.99  167.44

In [61]:
df["Total"].diff().head()

OrderDate
2020-01-06       NaN
2020-01-23    810.45
2020-02-09   -819.86
2020-02-26    360.09
2020-03-15   -372.29
Name: Total, dtype: float64

In [66]:
df["Total"].resample('M').sum().head()

OrderDate
2020-01-31    1188.55
2020-02-29     719.37
2020-03-31     167.44
2020-04-30     448.65
2020-05-31     512.78
Freq: M, Name: Total, dtype: float64

In [73]:
df['2020-11']

             Region     Rep     Item  Units  UnitCost   Total
OrderDate
2020-11-08     East  Parent      Pen     15     19.99  299.85
2020-11-25  Central  Kivell  Pen Set     96      4.99  479.04

In [74]:
df['2020-11':]

             Region       Rep     Item  Units  UnitCost    Total
OrderDate
2020-11-08     East    Parent      Pen     15     19.99   299.85
2020-11-25  Central    Kivell  Pen Set     96      4.99   479.04
2020-12-12  Central     Smith   Pencil     67      1.29    86.43
2020-12-29     East    Parent  Pen Set     74     15.99  1183.26
2021-01-15  Central      Gill   Binder     46      8.99   413.54
2021-02-01  Central     Smith   Binder     87     15.00  1305.00
2021-02-18     East     Jones   Binder      4      4.99    19.96
2021-03-07     West   Sorvino   Binder      7     19.99   139.93
2021-03-24  Central   Jardine  Pen Set     50      4.99   249.50
2021-04-10  Central   Andrews   Pencil     66      1.99   131.34
2021-04-27     East    Howard      Pen     96      4.99   479.04
2021-05-14  Central      Gill   Pencil     53      1.29    68.37
2021-05-31  Central      Gill   Binder     80      8.99   719.20
2021-06-17  Central    Kivell     Desk      5    125.00   625.00
2021-07-04     East     Jones  Pen Set     62      4.99   309.38
2021-07-21  Central    Morgan  Pen Set     55     12.49   686.95
2021-08-07  Central    Kivell  Pen Set     42     23.95  1005.90
2021-08-24     West   Sorvino     Desk      3    275.00   825.00
2021-09-10  Central      Gill   Pencil      7      1.29     9.03
2021-09-27     West   Sorvino      Pen     76      1.99   151.24
2021-10-14     West  Thompson   Binder     57     19.99  1139.43
2021-10-31  Central   Andrews   Pencil     14      1.29    18.06
2021-11-17  Central   Jardine   Binder     11      4.99    54.89
2021-12-04  Central   Jardine   Binder     94     19.99  1879.06
2021-12-21  Central   Andrews   Binder     28      4.99   139.72