<a href="https://colab.research.google.com/github/k4th4/Applied-Data-Science-with-Python-Specialization/blob/main/Pandas_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/sample_data/sample dataset office.csv')

In [4]:
df['Total'] = df['Total'].astype(str).str.replace(",", "").astype(float)
df.head()

   OrderDate   Region      Rep    Item  Units  UnitCost   Total
0   1/6/2020     East    Jones  Pencil     95      1.99  189.05
1  1/23/2020  Central   Kivell  Binder     50     19.99  999.50
2   2/9/2020  Central  Jardine  Pencil     36      4.99  179.64
3  2/26/2020  Central     Gill     Pen     27     19.99  539.73
4  3/15/2020     West  Sorvino  Pencil     56      2.99  167.44

In [5]:
def create_sale_size(ranking):
    # Since the rank is just an integer, I'll just do a bunch of if/elif statements
    if (ranking >= 1) & (ranking <200):
        return "Small"
    elif (ranking >= 200) & (ranking <300):
        return "Medium"
    elif (ranking >= 300) & (ranking <= 10000):
        return "Large"
    return "Other"

# Now we can apply this to a single column of data to create a new series
#df['Rank_Level'] = df['world_rank'].apply(lambda x: create_category(x))
# And lets look at the result
#df.head()

In [15]:
df.pivot_table(values='Total', index='Rep', columns='Item', aggfunc=[np.nansum], margins=True)

           nansum
Item       Binder    Desk      Pen  Pen Set   Pencil       All
Rep
Andrews    139.72     NaN      NaN      NaN   298.65    438.37
Gill      1132.74     NaN   539.73      NaN    77.40   1749.87
Howard      57.71     NaN   479.04      NaN      NaN    536.75
Jardine   1933.95     NaN      NaN   249.50   628.74   2812.19
Jones      858.76     NaN   575.36   565.22   363.70   2363.04
Kivell     999.50   625.0      NaN  1484.94      NaN   3109.44
Morgan     251.72     NaN      NaN   686.95   449.10   1387.77
Parent    1619.19     NaN   299.85  1183.26      NaN   3102.30
Smith     1305.00   250.0      NaN      NaN    86.43   1641.43
Sorvino    139.93   825.0   151.24      NaN   167.44   1283.61
Thompson  1139.43     NaN      NaN      NaN    63.68   1203.11
All       9577.65  1700.0  2045.22  4169.87  2135.14  19627.88

In [16]:
new_df= df.pivot_table(values='Total', index='Rep', columns='Item', aggfunc=[np.nansum], margins=True)

In [17]:
#series object
new_df["nansum"]["Binder"]

Rep
Andrews      139.72
Gill        1132.74
Howard        57.71
Jardine     1933.95
Jones        858.76
Kivell       999.50
Morgan       251.72
Parent      1619.19
Smith       1305.00
Sorvino      139.93
Thompson    1139.43
All         9577.65
Name: Binder, dtype: float64

In [22]:
new_df["nansum"]["Binder"].idxmin()

'Howard'

In [24]:
#different shape of the pivot table
new_df.stack().head()
#.unstack() to reverse

                 nansum
Rep     Item
Andrews Binder   139.72
        Pencil   298.65
        All      438.37
Gill    Binder  1132.74
        Pen      539.73

In [27]:
new_df.unstack()

        Item    Rep
nansum  Binder  Andrews       139.72
                Gill         1132.74
                Howard         57.71
                Jardine      1933.95
                Jones         858.76
                              ...
        All     Parent       3102.30
                Smith        1641.43
                Sorvino      1283.61
                Thompson     1203.11
                All         19627.88
Length: 72, dtype: float64